/** {
  box-sizing: border-box;
}*/


html {
  font-size: 10px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/3/3b/Drum_kit_overview.JPG);
  background-size: 100% 100%;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;  
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
  /*transform: skewY(10deg);*/
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.fTom{  
  position: fixed;
  top: 425px;
  left: 1070px;
}

.tom {
  position: fixed;
  left: 970px;
  top: 170px;
}

.hihat {
  position: fixed;
  top: 400px;
  left: 90px;
}

.crash {
  position: fixed;
  top: 95px;
  left:1300px;
}

.ride {
  position: fixed;
  left: 1300px;
}
.snare {
  position: fixed;
  left: 450px;
  top: 400px;
}

.crash1 {
  position: fixed;
  left: 280px;
  top: 70px;
}

.bam {
  position: fixed;
  top: 10px;
  left: 750px;
}

.kick {
  position: fixed;
  left: 740px;
  top: 330px;
}

/*.footer {
  position: fixed;
  color: white;
  font-size: 45px;
  text-align: center;
}*/